.cart-background {
    background-color: rgb(238, 238, 238);
    font-family: sans-serif;
    border: 1px transparent solid;
    height: 100vh;
}

.cart-product-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 65vw;
    margin: 20px;
    border: 1px rgb(238, 238, 238) solid;
    padding-top: 22px;
}

.cart-product-header {
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 15px 34px;
}

.cart-product {
    border-top: 1px solid rgb(238, 238, 238);
    padding: 18px;
    display: flex;
}

.cart-product-image-container {
    width: 120px;
    height: 250px;
}

.cart-product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-product-right-side {
    padding-left: 36px;
    max-width: 450px;
}

.cart-product-name-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.quantity-container {
    position: relative;
    top: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.quantityMinusSymbol {
    font-weight: lighter;
    font-size: 34px;
    margin: 0px 8px 4px 0px;
    cursor: pointer;
}

.quantity {
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.quantityPlusSymbol {
    font-weight: lighter;
    font-size: 24px;
    margin: 0px 0px 3px 8px;
    cursor: pointer;
}
